<br>
<div class="row">

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb3" id="tabungan">
                <div class="card-header">
                    <h3 class="card-title">Pengeluaran</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Per Bulan : 
                    </h4>
                </div>
            </div>
        </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center mb3" id="sisa-tabungan">
                    <div class="card-header">
                        <h3 class="card-title">Sisa Tabungan</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Per Bulan : 
                        </h4>
                    </div>
                </div>
            </div>
            </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb3" id="total-tabungan">
                <div class="card-header">
                    <h3 class="card-title">Total Tabungan</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Per Bulan : 
                    </h4>
                </div>
            </div>
        </div>
        </div>

    <div class="col">
    <div class="col-md">
        <div class="card text-center mb3" id="total-pinjaman">
            <div class="card-header">
                <h3 class="card-title">Total Pinjaman</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    Per Bulan : 
                </h4>
            </div>
        </div>
    </div>
    </div>

</div>