{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block page_title %}
            Change Password
        {% endblock page_title %}
    </title>
</head>
<body>
    {% block contents %}

        <br>
  <div class="row justify-content-center">
      <div class="col-sm-8 ">
          <div class="card card-body ">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Change Password...</h1><br>
                {{form.as_p}}
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <button type="submit" class="btn btn-success mb-2 mt-2">Change Password</button>
            </form>
          </div>
      </div>

     



    {% endblock contents %}
</body>
</html>