{% extends 'base.html' %}

{% block page_title %}
    Appweb | Add Toko
{% endblock page_title %}

{% block contents %}


    
<div class="card-body">

    <form action="" method="post">
        {% csrf_token %}
        <div class="col-sm">
            <h1>Create Batch</h1>
            <br>

           <table>
            {{ form.as_table}}
           </table>    
                
            <button class="btn btn-success btn-sm" type="submit">Create Batch</button>
        </div>
       
    </form>
</div>

{% endblock contents %}